.Professional__UpdateProfile__Select {
  width: 100%;
  border-radius: 5px;
  height: 37px;
}

.Professional__UpdateProfile__Input {
  width: 100%;
  display: flex;
}

.input-field2 {
  width: 100%;
  display: flex;
}
