.foot-term{
  text-decoration: none;
  color: rgb(16, 15, 15);
}
.link-item {
  cursor: pointer;
text-decoration: none;
color: rgb(10, 9, 9);

}


.FooterIcon:hover{
  color: #032b53;

}
.footerrow{
  // background-color: #0978e7;
  // margin-top: 5%;
}
.logoicon{
  width: 30%;
  height: 30%;
  // margin: -20px;
}
